nav {
    display: flex;
    justify-content: space-between; /* Verdelen van de elementen */
    background-color: #f8f8f8; /* Achtergrondkleur */
    padding: 10px 20px; /* Padding voor de balk */
}

ul {
    list-style-type: none; /* Verwijder de punten */
    margin: 0; /* Verwijder marges */
    padding: 0; /* Verwijder padding */
    display: flex; /* Gebruik flexbox voor het verdelen van elementen */
    width: 100%; /* Volledige breedte */
}

li {
    margin: 0 15px; /* Marges tussen de elementen */
}

a {
    text-decoration: none; /* Verwijder onderstreping */
    color: #333; /* Tekstkleur */
}
